<div>
    <h1>{{ stock?.name }}</h1>
    <div class="infoBox" *ngIf="returnedStock">
        <div class="infoWrap stockInfoBox">
            <p class="stocktxt">New York Stock Exchange Symbol: {{returnedStock?.symbol}}</p>
            <p class="stocktxt">Current Value: {{returnedStock?.currentValue | currency:'USD' : 'symbol' : '1.3-5'}}</p>
            <p class="stocktxt">Percentage Change in Value: {{returnedStock?.dailyPercentage | percent:'1.3-5'}}</p>
            <p class="stocktxt">Avalable Shares: {{returnedStock?.volume}}</p>
        </div>
    </div>
    <div class="graphBox">
        <h2 *ngIf="returnedStock">Weekly Graph</h2>
        <div *ngIf="chart">
            <canvas id="canvas">{{ chart }}</canvas>
        </div>
        <br>
        <h2 *ngIf="returnedStock">Monthly Graph</h2>
        <div *ngIf="chart">
                <canvas id="canvas2">{{ chart }}</canvas>
            </div>
    </div>
</div>