<div class="topnav" *ngIf="loggedUser !== null">
        <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a [routerLink]="['/stocks']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Watchlist</a>
        <a [routerLink]="['/contact']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact</a>
        <a [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a>
        <a *ngIf="!loggedUser"  class="loginNav" [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">login</a>
        <a *ngIf="loggedUser" (click)="logout()" class="loginNav" [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Logout</a>
      </div>