<div>
    <h1 class="MainTitle">Search by Symbol</h1>
    <div class="MainSearchBar">
        <form #searchForm="ngForm" (ngSubmit)="handleSearch(searchForm.value)" autocomplete="off">
            <input #textform (ngModel)="searchInput" name="searchInput" type="text" placeholder="Stock Symbol" class="searchInput">
            <button type="submit" class="searchbuttonA" >Search</button>
            <button *ngIf="returnedStock" (click)="followStock(textform.value)" class="searchbuttonA">Follow</button>
        </form>
        <div *ngIf="returnedStock" class="currentVal">
            <div>Current Value: {{returnedStock?.currentValue | currency:'USD' : 'symbol' : '1.3-5'}}</div>
            
        </div>
        <div *ngIf="returnedStock" class="row">
            <div class="column">
                    <div>Daily change: <span [ngClass]="{ 'positive': returnedStock.dailychangeCheck === 1, 'negative': returnedStock.dailychangeCheck === -1}">
                        <span *ngIf="returnedStock.dailychangeCheck === 1">+</span>{{returnedStock?.dailychange | currency:'USD' : 'symbol' : '1.3-5'}}</span></div>
            </div>
            <div class="column">
                    <div>Weekly change: <span [ngClass]="{ 'positive': returnedStock.weeklychangeCheck === 1, 'negative': returnedStock.weeklychangeCheck === -1}">
                        <span *ngIf="returnedStock.weeklychangeCheck === 1">+</span>{{returnedStock?.weeklychange | currency:'USD' : 'symbol' : '1.3-5'}}</span></div>
            </div>
            <div class="column">
                    <div>Monthly change: <span [ngClass]="{ 'positive': returnedStock.monthlychangeCheck === 1, 'negative': returnedStock.monthlychangeCheck === -1}">
                        <span *ngIf="returnedStock.monthlychangeCheck === 1">+</span>{{returnedStock?.monthlychange | currency:'USD' : 'symbol' : '1.3-5'}}</span></div>
            </div>
        </div>
        <br>
        <h2 *ngIf="returnedStock">Weekly Graph</h2>
        <div *ngIf="chart">
            <canvas id="canvas">{{ chart }}</canvas>
        </div>
        <br>
        <h2 *ngIf="returnedStock">Monthly Graph</h2>
        <div *ngIf="chart">
                <canvas id="canvas2">{{ chart }}</canvas>
            </div>
        <Ticker *ngIf="!returnedStock"></Ticker>
    </div>
</div>
    